*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
}

svg,
picture,
img,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea,
button {
  font: inherit;
}

button {
  cursor: pointer;
}
